@import 'tailwindcss';

@theme {
  --font-sans:
    'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-white text-black antialiased selection:bg-blue-500/30 selection:text-blue-600 dark:bg-black dark:text-white dark:selection:bg-blue-400/30 dark:selection:text-blue-400;
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
}
